<?xml version="1.0"?>

<launch>
  <include file="$(find turtlebot3_bringup)/launch/turtlebot3_robot.launch" />

  <!--Launch Turtlebot3 SLAM without RVIZ-->
  <include file="$(find turtlebot3_slam)/launch/turtlebot3_slam.launch">
    <arg name="open_rviz" value="false"/>
  </include>

  <!--Launch the DWM1001 nodes-->
  <include file="src/dwm1001_ros/launch/dwm1001.launch" />

  <!--Launch the EKF-->
  <include file="$(find kalman_filter)/launch/EKF.launch" />

  <!--Launch the Calibrator-->
  <include file="$(find camp_goto)/launch/Calibrator_py.launch" />

  <!--Launch the map merger-->
  <!--Needs revisiting after merger rewrite-->
  <include file="$(find camp_map)/launch/merge.launch" >
    <arg name="map1" value="map"/>
    <arg name="map2" value="deca_map"/>
    <arg name="frame" value="map"/>
  </include> 

  <!--Launch map exporter-->
  <include file="$(find camp_map)/launch/export.launch" >
    <arg name="map_in" value="map"/>
    <arg name="map_out" value="deca_map"/>
    <arg name="output_frame" value="deca"/>
  </include> 
  
</launch>