<?xml version="1.0"?>

<launch>
  <include file="$(find turtlebot3_bringup)/launch/turtlebot3_robot.launch" />

  <!--Launch Turtlebot3 SLAM without RVIZ-->
  <include file="$(find turtlebot3_slam)/launch/turtlebot3_slam.launch">
    <arg name="open_rviz" value="false"/>
  </include>

  <!--Launch the DWM1001 nodes-->
  <include file="src/dwm1001_ros/launch/dwm1001.launch" />

  <!--Launch the EKF-->
  <include file="$(find kalman_filter)/launch/EKF_Quiet.launch" />

  <!--Launch the Calibrator-->
  <include file="$(find camp_goto)/launch/calibrator_py.launch" />

  <!--Launch the map merger-->
  <include file="$(find camp_map)/launch/multimerge.launch" >
    <arg name="local_map_name" value="map"/>
  </include> 

  <!--Launch map exporter-->
  <include file="$(find camp_map)/launch/export.launch" >
    <arg name="map_in" value="map"/>
    <arg name="map_out" value="deca_map"/>
    <arg name="output_frame" value="deca"/>
  </include> 
  
</launch>